// the color I use
$darkBlue: #4208B3;
$blue: #3939FF;
$indigo: #d2bbff;
$bgWhite: #E9E9E9;
$orange: #f75b35;
$yellow :#FFBB22;
$customWhite: #e9e9e9;
$gray: #A4A4A4;

// theme color base on 60%{offWhite}, 30%{white}, 10%{blueTarquoise} palate
$primary: $indigo;
$secondary: $darkBlue;
$bg: $customWhite;
$hero1bar: $yellow;
$hero2bar: $orange;
$hero3bar: $blue;

// Import BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// IMPORT GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

// theme font family
$font-family-base : 'Arimo', sans-serif;