@use "../custom" as *;

.display-navLink {
}

.display-p-big {
  font-size: 1.125rem;
  font-weight: $font-weight-medium;
  font-family: $font-family-base;
  line-height: 1.75rem;
}

.display-p-small {
    font-size: 1rem;
    font-weight: $font-weight-medium;
    font-family: $font-family-base;
    line-height: 1.5rem;
}

.display-1 {
  font-size: 4rem;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;
  line-height: auto;
  &_hero1bar {
    background-color: $hero1bar;
  }
  &_hero2bar {
    background-color: $hero2bar;
  }
  &_hero3bar {
    background-color: $hero3bar;
  }
}

.display-2 {
}

.display-3 {
}

.display-4 {
}

.display-5 {
}

.display-6 {
}
